{% extends "paginas/index.html" %}

{% load static %}


{% block conteudo %}
<h3>Sobre o Sistema de Sugestões para o Campus Paranavaí</h3>
<p>
    Este sistema foi desenvolvido com o objetivo de promover a participação ativa da comunidade acadêmica do Campus Paranavaí do IFPR.
    Através dele, alunos, professores e funcionários podem enviar sugestões de melhorias para o campus, contribuindo para um ambiente mais
    agradável, funcional e inovador.
</p>

<p>
    Acreditamos que a colaboração e o diálogo são fundamentais para o desenvolvimento contínuo da nossa instituição.
    Por isso, todas as sugestões são avaliadas com atenção pela administração do campus, que busca implementar mudanças que beneficiem a todos.
</p>

<p>
    Nosso compromisso é transformar suas ideias em ações que promovam qualidade, conforto e eficiência para todos os que fazem parte do IFPR Paranavaí.
</p>

<p>
    <img src="{% static "img/casosuso.png" %}" alt="">
</p>
<p>
    <img src="{% static "img/classes.png" %}" alt="">
</p>

<p>
    <strong>Desenvolvido por Carlos e Maria Eduarda.</strong>
</p>
{% endblock %}
